<%- include("../partials/dashboard-wrapper-top") %>

  <section class="w-full max-w-6xl mx-auto px-5 py-8 flex flex-col gap-8">
    <h1 class="text-center text-4xl font-bold text-white">All News</h1>

    <div class="w-full grid md:grid-cols-2 gap-8">
      <% newsList.forEach(function(news, index){ %>
        <%- include('../partials/news-card', {...news, isDashboard: true}); %>
          <% }); %>
    </div>
  </section>

  <%- include("../partials/dashboard-wrapper-bottom") %>